<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175514363636-714sbvv6d6mui86v75tn2sm9hkih0f55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175514363636-714sbvv6d6mui86v75tn2sm9hkih0f55</string>
	<key>API_KEY</key>
	<string>AIzaSyBGgqgNZV9cR6V62PcRLHr06xf1ixpbkQk</string>
	<key>GCM_SENDER_ID</key>
	<string>175514363636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.regaproject</string>
	<key>PROJECT_ID</key>
	<string>regaproject-c2cf7</string>
	<key>STORAGE_BUCKET</key>
	<string>regaproject-c2cf7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175514363636:ios:4b03494a9b6d727af620a1</string>
	<key>DATABASE_URL</key>
	<string>https://regaproject-c2cf7-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>